.splash {
  width: 40%;
  height: 40%;
}

.abilityInfo{
font-size: 20px;
}

.abilityKuva {
  width: 22px;
}

.paddingRemoval {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

h2 {
  padding-top: 0;
  margin-top: 0;
  font-size: 20px;
}